.language-switch {
  font-size: 1rem; /* Default size */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s; /* Smooth scaling on hover */
  border: none;
  background-color: transparent;
}

/* Mobile-specific styles */
@media (max-width: 992px) {
  .language-switch {
    font-size: 1.6rem; /* Slightly larger for mobile */
  }
}

.language-switch:hover {
  transform: scale(1.2); /* Scale effect on hover */
}