/* Center the language switch in mobile view */
@media (max-width: 767px) {
    .navbar-nav {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .nav-item.dropdown {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  